@font-face { 
	font-family: lora;
	src: url(fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face { 
	font-family: lora;
	src: url(fonts/Lora/Lora-Italic-VariableFont_wght);
	font-style: italic;
}


@font-face { 
	font-family: plex-sans;
	src: url(fonts/IBM-Plex-Sans/IBMPlexSans-Light.otf);
	font-weight: normal;
}
@font-face { 
	font-family: plex-sans;
	src: url(fonts/IBM-Plex-Sans/IBMPlexSans-LightItalic.otf);
	font-weight: normal;
	font-style: italic;
}
@font-face { 
	font-family: plex-sans;
	src: url(fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.otf);
	font-weight: bold;
}
@font-face { 
	font-family: plex-sans;
	src: url(fonts/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face { 
	font-family: plex-mono;
	src: url(fonts/IBM-Plex-Mono/IBMPlexMono-Light.otf);
	font-weight: normal;
}
@font-face { 
	font-family: plex-mono;
	src: url(fonts/IBM-Plex-Mono/IBMPlexMono-LightItalic.otf);
	font-weight: normal;
	font-style: italic;
}
@font-face { 
	font-family: plex-mono;
	src: url(fonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.otf);
	font-weight: bold;
}
@font-face { 
	font-family: plex-mono;
	src: url(fonts/IBM-Plex-Mono/IBMPlexMono-SemiBoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}

