:root {
	--color__base_100: #000;
	--color__base_200: #27221e;
	--color__base_300: #38332f;
	--color__base_400: #6f6a66;
	--color__base_500: #98938f;
	--color__base_600: #d7d2ce;
	--color__base_700: #e2ddd9;
	--color__base_800: #f8f3ef;
	--color__base_900: #fffaf6;

	--color__brand: #cc0000;
	--color__brand_contrast: #fff;
	--color__accent: #1f7789;
	--color__accent_contrast: #fff;
	--color__highlight: #f4d751;
	--color__highlight_text: #000;
	
	--color__message: var(--color__base_500);
	--color__succcess: #00a32a;
	--color__error: #d63638;
	
	--color__link: var(--color__brand);
	--color__link_contrast: var(--color__brand_contrast);
 	--color__visited: var(--color__base_100);
	--color__hover: #f00;
	--color__hover_contrast: var(--color__brand_contrast);
// 	--color__active: var(--color__base_100);
	
}

@media (prefers-color-scheme: dark) {
	:root {
		--color__base_900: #1a1511;
		--color__base_800: #27221e;
		--color__base_700: #38332f;
		--color__base_600: #6f6a66;
		--color__base_500: #98938f;
		--color__base_400: #d7d2ce;
		--color__base_300: #e2ddd9;
		--color__base_200: #f8f3ef;
		--color__base_100: #fffaf6;
	}
}


:root {
	--type__size: 1.1rem;
	--type__sans: 'plex-sans', sans-serif;
	--type__serif: 'lora', serif;
	--type__mono: 'plex-mono', monospace;

	--width__column_full: 44rem;
	--width__column_half: calc(var(--width__column_full)*.5);
	--width__column_third: calc(var(--width__column_full)*.33);
}
