:root {
	--color__base_100: #000;
	--color__base_200: #212121;
	--color__base_300: #333;
	--color__base_400: #6c6c6c;
	--color__base_500: #969696;
	--color__base_600: #d7d7d7;
	--color__base_700: #e3e3e3;
	--color__base_800: #fafafa;
	--color__base_900: #fff;

	--color__brand: #cc0000;
	--color__brand_contrast: #fff;
	--color__accent: #1f7789;
	--color__accent_contrast: #fff;
	--color__highlight: #f4d751;
	--color__highlight_text: #000;
	
	--color__message: var(--color__base_500);
	--color__succcess: #00a32a;
	--color__error: #d63638;
	
	--color__link: var(--color__brand);
	--color__link_contrast: var(--color__brand_contrast);
 	--color__visited: var(--color__base_100);
	--color__hover: #f00;
// 	--color__active: var(--color__base_100);
	
}

@media (prefers-color-scheme: dark) {
	:root {
		--color__base_900: #111;
		--color__base_800: #212121;
		--color__base_700: #333;
		--color__base_600: #6c6c6c;
		--color__base_500: #969696;
		--color__base_400: #d7d7d7;
		--color__base_300: #e3e3e3;
		--color__base_200: #efefef;
		--color__base_100: #fff;
	}
}


:root {
	--type__size: 1.1rem;
	--type__sans: 'plex-sans', sans-serif;
	--type__serif: 'lora', serif;
	--type__mono: 'plex-mono', monospace;

	--width__page: 64ch;
}
