:root {
	--color__base_100: 26, 21, 17;
	--color__base_200: 39, 34, 30;
	--color__base_300: 56, 51, 47;
	--color__base_400: 111, 106, 102;
	--color__base_500: 152, 147, 143;
	--color__base_600: 215, 210, 206;
	--color__base_700: 226, 221, 217;
	--color__base_800: 248, 243, 239;
	--color__base_900: 255, 250, 246;

	--color__brand: 204, 0, 0;
	--color__brand_contrast: 255, 255, 255;
	--color__accent: 57, 119, 212;
	--color__accent_contrast: 255, 255, 255;
	--color__highlight: 244, 215, 81;
	--color__highlight_text: 0, 0, 0;
	
	--color__message: rgba(var(--color__base_500),1);
	--color__succcess: 0, 163, 42;
	--color__error: 214, 54, 56;
	
	--color__link: rgba(var(--color__brand),1);
	--color__link_contrast: rgba(var(--color__brand_contrast),1);
 	--color__visited: rgba(var(--color__base_100),1);
	--color__hover: 255, 0, 0;
	--color__hover_contrast: rgba(var(--color__brand_contrast),1);
// 	--color__active: rgba(var(--color__base_100),1);
	
}

@media (prefers-color-scheme: dark) {
	:root {
		--color__base_900: 26, 21, 17;
		--color__base_800: 39, 34, 30;
		--color__base_700: 56, 51, 47;
		--color__base_600: 111, 106, 102;
		--color__base_500: 152, 147, 143;
		--color__base_400: 215, 210, 206;
		--color__base_300: 226, 221, 217;
		--color__base_200: 248, 243, 239;
		--color__base_100: 255, 250, 246;
	}
}


:root {
	--type__size: 1.1rem;
	--type__sans: 'plex-sans', sans-serif;
	--type__serif: 'lora', serif;
	--type__mono: 'plex-mono', monospace;

	--width__column_full: 44rem;
	--width__column_half: calc(var(--width__column_full)*.5);
	--width__column_third: calc(var(--width__column_full)*.33);
}
