/* Navigation
--------------------------------------------- */

.breadcrumbs {
	margin-bottom: calc(var(--type__size) * 1.5); 
	ol {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		font-size: calc(var(--type__size) * .9);
		list-style: none;
		max-width: 20ch;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

  		&:not(:last-of-type) {
			margin-right: calc(var(--type__size) * .5);
		}
		&:not(:last-of-type):after {
			content: '»';
			display: inline-block;
			margin-left: calc(var(--type__size) * .5);
		}
	}
}


.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}


nav.main-navigation {
// 	background-color: rgba(0,0,0,.2);	
// 	padding: .2rem;
	ul, li, a {
		height: 100%;
	}
	a {
		background-color: var(--color__base_300);	
		display: block;
		padding: calc(var(--type__size) * .5);
		text-decoration: none;
		&:hover {
			background-color: var(--color__base_500);	
		}
		&:link, 
		&:visited, 
		&:hover,
		&:active {
			color: var(--color__base_900);	
		}
	}
	li.current_page_item a {
		background-color: var(--color__base_900);	
		color: var(--color__base_100);
		pointer-events: none;
	}
	li:not(:last-of-type) a {
		margin-right: calc(var(--type__size) * .4);
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


footer nav {
	ul {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		list-style: none;
	}
	li:not(:last-of-type) {
		margin-right: .5rem;
	}
}

