/* Navigation
--------------------------------------------- */

.breadcrumbs {
	margin-bottom: calc(var(--type__size) * 1.5); 
	ol {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		font-size: calc(var(--type__size) * .9);
		list-style: none;
		max-width: 20ch;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

  		&:not(:last-of-type) {
			margin-right: calc(var(--type__size) * .5);
		}
		&:not(:last-of-type):after {
			content: '»';
			display: inline-block;
			margin-left: calc(var(--type__size) * .5);
		}
	}
}
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


footer nav {
	ul {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		display: inline-block;
		list-style: none;
	}
	li:not(:last-of-type) {
		margin-right: .5rem;
	}
}

/** handle the submenu toggle indicators **/
.main-navigation {
	.menu-item-has-children {
		a {
			padding-right: calc( var(--type__size) * 3) !important;
		}
	}
	.submenu-toggle {
		background-color: var(--color__base_200);
		border: 0;
		cursor: pointer;
		height: calc( var(--type__size) * 2.5);
		width: calc( var(--type__size) * 2.5);
		display: inline-block;
		text-indent: -999em;
		position: absolute;
		top:  calc( var(--type__size) * .5);
		right: calc( var(--type__size) * .4);
		transition: background .2s ease-in-out;
	
		&::after {
			border: 1px solid #fff;
			border-color: #fff #fff transparent transparent;
			border-width: 1px 1px 0 0;
			content: '';
			display: block;
			position: absolute;
			top: calc( var(--type__size) * 1);
			left: calc( var(--type__size) * .8);
			height: calc( var(--type__size) * .6);
			width: calc( var(--type__size) * .6);
			transform: rotateZ(45deg);
			transform-origin: 70% 40%;
			transition: all .2s ease-in-out;
		}
		&[aria-expanded='true']::after {
			border-width: calc( var(--type__size) * .3);
			transform: rotateZ(135deg);
		}

		&:hover,
		&[aria-expanded='true'] {
			background-color: var(--color__brand);
		}
		
		
	}
}



/** styles to include for small screen menu display **/
.menu-hidden {
	float: left;
	position: absolute;
	text-indent: 0;
	left: -999em;
	height: 0;
	z-index: 99999;
}
.menu-shown {
	float: none;
	position: relative;
	height: auto;
	left: auto;
	& > li {
		transform: none;
	}
}


.main-navigation {
	ul {
		@extend .menu-hidden;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	li {
		position: relative;
	}
	a {
		display: block;
		padding: var(--type__size) 0 var(--type__size) calc( var(--type__size) * .5 );
	}
	li.current_page_item > a {
		background-color: var(--color__base_900);	
		color: var(--color__base_100);
		pointer-events: none;
	}
	&.toggled {
		& > div > ul {
			@extend .menu-shown;
		}
	}
	.sub-menu {
		a {
			padding-left: calc( var(--type__size) * 1) !important;
		}
		.sub-menu a {
			padding-left: calc( var(--type__size) * 2) !important;
		}
		.sub-menu .sub-menu a {
			padding-left: calc( var(--type__size) * 2) !important;
		}
	}
	.submenu-toggle[aria-expanded='true'] ~ .sub-menu {
		@extend .menu-shown;
	}
}




/* Menu toggle button (mobile) and overall menu animation styles */
@for $i from 1 through 10 {
  .main-navigation li:nth-child(#{$i}) {
    transform: translateY( $i * -1em );
  }
}
.main-navigation {
	&::before {
		content: '';
		height: 0;
		width: 0;
		opacity: 0;
		transition: opacity .2s ease-in-out;
	}
	.menu-toggle {
		background-color: var(--color__base_300);	
		border: 0;
		color: var(--color__base_900);
		cursor: pointer;
		display: block;
		padding: calc(var(--type__size) * .5);
		text-decoration: none;
		text-indent: 0;
		&:hover {
			background-color: var(--color__base_500);	
		}
		&::before,
		&::after {
			border-width: 0;
			content: '';
			transform: rotateZ(0);
			transition: transform .4s ease-in-out;
		}
	}
	li {
		transition: transform .4s ease-in-out;
	}
	&.toggled {
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: calc(var(--type__size) * 1);
		left: 0;
		&::before {
			background-color: var(--color__base_100);
			content: '';
			display: block;
			height: 100vh;
			left: 0;
			opacity: .7;
			top: 0;
			position: fixed;
			width: 100vw;
		}
		.menu-toggle {
			display: block;
			width: 100%;
			padding: calc(var(--type__size) * 1);
			position: relative;
			text-align: left;
		}
		.menu-toggle::before,
		.menu-toggle::after {
			border-top: 1px solid var(--color__base_900);
			content: '';
			position: absolute;
			height: 0;
			width: calc( var(--type__size) * 1.25 );
			right: calc( var(--type__size) * 1 );
			top: calc( var(--type__size) * 1.75 );
		}
		.menu-toggle::before {
			transform: rotateZ(-45deg);
		}
		.menu-toggle::after {
			transform: rotateZ(45deg);
		}
	}
}
/* End toggle button and overall menu animation styles */




@media screen and (min-width: 37.5em) {

	.main-navigation {
		width: 100%;
		&::before {
			content: none;
		}
		.menu-toggle {
			display: none;
		}
		.submenu-toggle {
			top: 0;
			&[aria-expanded='true']::before {
				content: '';
				display: block;
				height: 100vh;
				left: 0;
// 				background-color: var(--color__base_500);
// 				opacity: .7;
				top: 0;
				position: fixed;
				width: 100vw;
				z-index: -1;
			}
		}
		& > div > ul {
			float: none;
			height: auto;
			left: auto;
			& > li {
				transform: none !important;
			}
			display: flex;
			flex-wrap: wrap;
			text-indent: 0;
			position: relative;
		}

		.sub-menu {
			position: absolute !important;
			width: 200px;
		}
		ul, li, a {
			height: auto;
		}
		a {
			background-color: var(--color__base_300);	
			display: block;
			padding: calc(var(--type__size) * .5);
			text-decoration: none;
			&:link, 
			&:visited, 
			&:hover,
			&:active {
				color: var(--color__base_900);	
			}
		}
		li:not(:last-of-type) a {
			margin-right: calc(var(--type__size) * .4);
		}
	}	
}
