/* Typography
--------------------------------------------- */

.type-sans {
	font-family: var(--type__sans);
}
.type-serif {
	font-family: var(--type__serif);
}
.type-mono {
	font-family: var(--type__mono);
}

body,
button,
input,
select,
optgroup,
textarea {
	color: rgba(var(--color__base_200),1);
  font-family: var(--type__sans);

	font-size: var(--type__size);
	line-height: 1.5;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	clear: both;
//   font-family: var(--type__serif);
//   margin: 0 0 calc(var(--type__size) * 1.5);
// }

// h1 { font-size: calc(var(--type__size) * 2) }
// h2 { font-size: calc(var(--type__size) * 1.5) }
// h3 { font-size: calc(var(--type__size) * 1.17) }
// h4 { font-size: calc(var(--type__size) * 1) }
// h5 { font-size: calc(var(--type__size) * .83) }
// h6 { font-size: calc(var(--type__size) * .67) }

h1, .entry-title { font-size: calc(var(--type__size) * 2) }
h2 { font-size: calc(var(--type__size) * 1.7) }
h3 { font-size: calc(var(--type__size) * 1.4) }
h4 { font-size: calc(var(--type__size) * 1.3) }
h5 { font-size: calc(var(--type__size) * 1.1) }
h6 { font-size: calc(var(--type__size) * 1) }

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
  font-family: var(--type__sans);
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 calc(var(--type__size) * 1.5);
}
h1.entry-title {
//	margin-bottom: calc(var(--type__size) * 3);
}
p {
	margin: 0 0 calc(var(--type__size) * 1.5);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 calc(var(--type__size) * 1.5);
}

address {
	margin: 0 0 calc(var(--type__size) * 1.5);
}

pre {
	background-color: rgba(var(--color__base_900),1);
  font-family: var(--type__mono);
	line-height: 1.6;
	margin-bottom: calc(var(--type__size) * 1.5);
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var,
samp {
  font-family: var(--type__mono);
  font-size: calc(var(--type__size) * .9);
}
var {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background-color: rgba(var(--color__accent_contrast),0.8);
	color: rgba(var(--color__accent),1);
	font-weight: bold;
}
samp {
	font-weight: bold;
}

abbr,
acronym {
	border-bottom: 1px dotted rgba(var(--color__base_400),1);
	cursor: help;
}

mark,
ins {
	background-color: rgba(var(--color__highlight),1);
	color: rgba(var(--color__highlight_text),1);
	text-decoration: none;
}

big {
	font-size: 125%;
}
small {
	font-size: 90%;
}
