/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

body {
	margin: 0; 
	padding: 0;
}
header.site-header {
	background-color: var(--color__brand);
	color: var(--color__brand_fg);
	margin: 0 0 calc(var(--type__size) * 1); 
	padding: var(--type__size) var(--type__size) 0;

	/** custom header image styles **/	
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.site-title {
	font-size: calc(var(--type__size) * 2);
	font-family: var(--type__serif);
	font-weight: bold;
	line-height: 1.2;
	margin: 0;	
}

.site-header > div,
.site-header > nav,
.site-footer > div,
main,
.breadcrumbs {
	max-width: 64ch;
	margin: 0 auto;
	padding: 0 var(--type__size);
}
.site-title {
	width: 64ch;
}


footer.site-footer {
	margin: 0; 
	padding: 1rem;
	background-color: var(--color__base_100);
	color: var(--color__base_900);
}
